doctype html
html(lang='en')
  head
    meta(property='og:title', content='ChernivtsiJS #3')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://chernivtsi.js.org/')
    meta(property='og:image', content='http://chernivtsi.js.org/images/logo.png')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700')
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css")
    link(rel='stylesheet', href='./styles/main.css')
    link(rel='stylesheet', href='./styles/media.css')
    title #{date} — #{title} — #{subtitle}

  body
    header
      .socials
        ul
          each item in social
            li.social
              a(href=item.link)
                img(src=item.icon)
      .main-wrap
        .row.title
          img.logo(src='./images/logo.png', alt='')
          div
            h1= title
            p.desc= description
        .row.date= date
        .row.ticket
          a(href=action, class="action-btn") Cooming soon
        .row.questions
          a(href=social[0].link) Any questions?
        .scroll
          img(src='./images/scroll-icon.png', alt='')

    section#speakers
      h1.title Speakers
      .wrap-speakers
        each speaker in speakers
          .speaker
            .photo(class=speaker.lightning ? "is-lightning": "")
              img(src=speaker.photo)
            .name-speaker=speaker.name
            .work-place=speaker.work
            .title-speach=speaker.topic
    //- section#schedule
    //-   h1.title schedule
    //-   table.pad_null(align='center', width='100%', border='0', cellpadding='0', cellspacing='0', style='border-collapse:collapse; font-family: Arial, sans; width: 100%; background: #f9f9f6; margin-left: auto; margin-right: auto; ')
    //-     tr
    //-       td Розклад
    //-       td Час, хв
    //-       td Спікер
    //-       td Тема
    //-       td Тип
    //-     tr
    //-       td 11:30-11:50
    //-       td 20
    //-       td(colspan='3') Реєстрація
    //-     tr
    //-       td 11:50-12:00
    //-       td 10
    //-       td(colspan='3') Відкриття
    //-     tr
    //-       td 12:00-13:00
    //-       td 40-10
    //-       td Іван Стеценко
    //-       td React: Yet another awsm Van Helsing (RUS)
    //-       td доповідь
    //-     tr
    //-       td 13:00-13:20
    //-       td 15-5
    //-       td Андрій Костецький
    //-       td JavaScript Reflection, що далі? (UKR)
    //-       td лайтінг
    //-     tr
    //-       td 13:20-14:20
    //-       td 40-10
    //-       td Денис Довгань
    //-       td Shells written in JavaScript (UKR)
    //-       td доповідь
    //-     tr
    //-       td 14:20-14:30
    //-       td 10
    //-       td Іван Стеценко
    //-       td Давайте сделаем MIT в Украине (RUS)
    //-       td лайтінг
    //-     tr
    //-       td 14:30-15:00
    //-       td 30
    //-       td(colspan='3') Перерва (Обід)
    //-     tr
    //-       td 15:00-15:10
    //-       td 10
    //-       td(colspan='3') HR-сесія ELOGIC
    //-     tr
    //-       td 15:10-15:30
    //-       td 15-5
    //-       td Сергій Борейко
    //-       td Nothing new about Electron (UKR)
    //-       td лайтінг
    //-     tr
    //-       td 15:30-16:30
    //-       td 40-10
    //-       td Олексій Швайка
    //-       td Authoring Web Components workshop (RUS)
    //-       td доповідь
    //-     tr
    //-       td 16:30-17:30
    //-       td 40
    //-       td(colspan='3') QA-сесія
    //-     tr
    //-       td 17:30-17:40
    //-       td 10
    //-       td(colspan='3') Розіграш від компанії AlterEGO
    //-     tr
    //-       td 17:40-18:00
    //-       td 20
    //-       td(colspan='3') Закриття
    //-     tr
    //-       td 18:30-∞
    //-       td ∞
    //-       td(colspan='3') Афтепаті
    
    section#partners
      h1.title partners
      .wrap-partners
        p
          | Want to help us? 
          a(href='mailto:chernivtsijs@gmail.com') Join our community as a partner. 
          
        //- each partner in partners
        //-   .partner
        //-     a(href=partner.link, title=partner.name)
        //-       img(src=partner.logo, alt=partner.name)

    section#map
      h1.title Map
      p.address!= place.adress
      div#venue
      

    section#bottom-banner
      .row.date=date
      .row.ticket
        a(href=action, class="action-btn") Cooming soon
      .row.questions
        a(href=social[0].link) Any questions?

    footer
      .socials
        ul
          each item in social
            li.social
              a(href=item.link)
                img(src=item.icon)
      .contacts
        each contact in contacts
          ul
            li.name=contact.name
            li.email
              a(href="mailto:"+contact.email)=contact.email
            li.phone=contact.phone

    script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js")
    script.
      window.coords = [
        #{place.coords.latitude},
        #{place.coords.longitude},
      ]
    script(src="scripts/main.js")
