doctype html
html(lang='en')
  head
    meta(property='og:title', content='ChernivtsiJS #2')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://chernivtsi.js.org/')
    meta(property='og:image', content='http://chernivtsi.js.org/img/logo.png')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=1200, minimum-scale=0.2, maximum-scale=4.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700')
    link(rel='stylesheet', href='./css/main.css')
    title ChernivtsiJS
  body
    header
      .socials
        ul
          each item in social
            li.social
              a(href=item.link)
                img(src=item.icon)
      .main-wrap
        .row.title
          img.logo(src='./img/logo.png', alt='')
          span
            h1 ChernivtsiJS
            p.desc Let's talk about JavaScript?
        .row.date= date
        .row.ticket
          a(href=tickets, id="buy-ticket") Buy tickets
        .row.questions
          a(href=social[0].link) Any questions?
        .scroll
          img(src='./img/scroll-icon.png', alt='')
    section#speakers
      h1.title Speakers
      .wrap-speakers
        each speaker in speakers
          .speaker
            .photo
              img(src=speaker.photo)
            .name-speaker=speaker.name
            .work-place=speaker.work
            .title-speach=speaker.topic
    section#partners
      h1.title partners
      .wrap-partners
        each partner in partners
          .partner
            a(href=partner.link, title=partner.name)
              img(src=partner.logo, alt=partner.name)
    section#map
      h1.title Map
      p.address!= place.adress
      iframe(src=place.location, width='100%', height='500', frameborder='0', style='border:0', allowfullscreen='')
    section#bottom-banner
      .row.date=date
      .row.ticket
        a(href=tickets, id="buy-ticket") Buy tickets
      .row.questions
        a(href=social[0].link) Any questions?
    footer
      .socials
        ul
          each item in social
            li.social
              a(href=item.link)
                img(src=item.icon)
      .contacts
        each contact in contacts
          ul
            li.name=contact.name
            li.email
              a(href="mailto:"+contact.email)=contact.email
            li.phone=contact.phone
