doctype html
html(lang=lang)
  head
    if headers.title
      title #{headers.title} — #{date} — #{title}
    else
      title #{date} — #{title}
    include _head
  body
    block content
      //- Page content goes here

.speakersMin-action
    a(href=actionMin.link, target="_blank",  class="action-btn", onclick="fbq('track', 'InitiateCheckout'); ga('send', 'event', 'register on meetup', 'click');")=actionMin.title


if scheduleMin
    section.schedule#schedule
      h1.title Schedule
      .schedule-light--container
        table.schedule-light(cellspacing=0 cellpadding=0)
          each item in scheduleMin
            tr.schedule-light--item(class=item.tech ? 'is-tech' : '')
              td.schedule-light--time=item.time
              td.schedule--title=item.name

.speakersMin-action
    a(href=actionMin.link, target="_blank",  class="action-btn", onclick="fbq('track', 'InitiateCheckout'); ga('send', 'event', 'register on meetup', 'click');")=actionMin.title

section.speakers.speakersMin
    h1.title(id=speakesAction.ankor) Speakers
    .container
      if speakersMin
        each speaker in speakersMin
          .speaker
            .photo(class=speaker.lightning ? 'is-lightning': '')
              img(src=speaker.photo)
            .speaker-desc
              .name-speaker=speaker.name
              .work-place=speaker.work
              .title-speach=speaker.topic
              .title-about=speaker.about
      else
        .row
          p
            | Want to join our speaker team?
            br
            a(href=action.link) Send you talk

.speakersMin-action
    a(href=actionMin.link, target="_blank", class="action-btn", onclick="fbq('track', 'InitiateCheckout'); ga('send', 'event', 'register on meetup', 'click');")=actionMin.title


section.map
  h1.title Map
  p.address!= placeMin.adress
  div#embedded-map-min


footer.footer
    include _social
    include _contacts
include _scripts
include _analytics
