doctype html
html(lang=lang)
  head
    title #{date} — #{title} — #{subtitle}
    include _head
  body
    header.header
      include _social
      .header-wrapper
        .row.header-title
          img.header-logo(src='./images/logo.png', alt='')
          div
            h1= title
            p.desc= description
        .row.date= date
        .row
          a(href=action, class="action-btn", onclick="fbq('track', 'InitiateCheckout');") Buy your ticket
        .row.questions
          a(href=social[0].link) Any questions?
        .scroll
          img(src='./images/icons/scroll.png', alt='')

    section.speakers
      h1.title Speakers
      .container
        each speaker in speakers
          .speaker
            .photo(class=speaker.lightning ? 'is-lightning': '')
              img(src=speaker.photo)
            .name-speaker=speaker.name
            .work-place=speaker.work
            .title-speach=speaker.topic

    section.schedule
      h1.title Schedule
      .schedule--container
        each item in schedule
          .schedule--item(class=item.tech ? 'is-tech' : '')
            .schedule--time=item.time
            .schedule--desc
              .schedule--title=item.name
              .schedule--theme=item.topic
            

    section.partners
      h1.title partners
      .container
        each companies, kind in partners
          .row
            p.partners-kind=kind
            if companies
              .partners-wrapper(class=kind)
                each partner in companies
                  .partner(id=partner.name.toLowerCase().replace(/\s/g, '-'))
                    a(href=partner.link, title=partner.name, target='_blank')
                      img(src=partner.logo, alt=partner.name)
        .row
          p
            | Want to join us?
            br
            a(href='mailto:chernivtsijs@gmail.com') Join our community as a partner

    section.venue
      h1.title Venue
      ul.slideshow
        each slide in venue
          li.slide(style="background-image: url("+ slide + ")")=slide
      .container
        .row.venue-name
          h2 Marble Hall
          p The Residence of Bukovinian and Dalmatian Metropolitans
        .row.venue-about
          .venue-half.logos
            img(src="images/UNESCO.svg", alt="UNESCO").unesco
            img(src="images/welterbe.svg", alt="Welterbe").welterbe
          .venue-half.desc
            p #[strong The Residence of Bukovinian and Dalmatian Metropolitans] in Chernivtsi is one of the most beautiful buildings in Ukraine.
            p It was built between the years 1864–1882 to the designs of the Czech architect, #[strong Josef Hlávka].
            p The Residence, whose buildings are now part of #[strong Chernivtsi National University], was declared a #[strong UNESCO World Heritage Site] in 2011.

    section.map
      h1.title Map
      p.address!= place.adress
      div#embedded-map

    section.bottom-banner
      .row.date=date
      .row.ticket
        a(href=action, class="action-btn", onclick="fbq('track', 'InitiateCheckout');") Buy your ticket
      .row.questions
        a(href=social[0].link) Any questions?

    footer.footer
      include _social
      include _contacts
    include _scripts
    include _analytics
