doctype html
html(lang=lang)
  head
    title #{date} — #{title} — #{subtitle}
    include _head
  body
    header.header
      include _social
      .header-wrapper
        .row.header-title
          img.header-logo(src='./images/logo.svg', alt='')
          div
            h1= title
            p.desc= description
        .row.date= date
        .row
          a(href=action.link, class="action-btn", onclick="fbq('track', 'InitiateCheckout');")=action.title
        .row.questions
          a(href=social[0].link) Any questions?
        .scroll
          img(src='./images/icons/scroll.png', alt='')

    section.speakers
      h1.title Code Of Conduct
      .container
        .row!=content

    section.bottom-banner
      .row.date=date
      .row.ticket
        a(href=action.link, class="action-btn", onclick="fbq('track', 'InitiateCheckout');")=action.title
      .row.questions
        a(href=social[0].link) Any questions?
      .row.questions
        a(href="https://github.com/chernivtsijs/chernivtsijs.github.io/wiki/Code-Of-Conduct") Code Of Conduct

    footer.footer
      include _social
      include _contacts
    include _scripts
    include _analytics
